<!DOCTYPE html>

<html>
<title>Error</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
<meta name="viewport" content="height=device-height, initial-scale=1, minimum-scale=1" />
<meta name="viewport" content="width=device-width, user-scalable=no" />


<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/jamb.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" />
</head>

<body>
    <div class="center">
        <div class="error">
            {{ error }}
        </div>
    </div>
</body>

</html>