{% extends 'base.html' %}

{% block content %}
<script type="text/javascript">
    var jamb = "{{ jamb }}";
    var jamb_id = "{{ jamb_id }}";
    jamb = jamb.replace(/False/g, "false")
    jamb = jamb.replace(/True/g, "true")
    jamb = jamb.replace(/None/g, "null")
    jamb = jamb.replace(/&#39;/g, '"')
    jamb = JSON.parse(jamb);
    console.log(jamb);
</script>
<script src="{{ url_for('static', filename='js/jamb.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/jamb.css') }}">

<div class="center">
    <div class="dice-rack" id="dice-rack">
        {% for dice in jamb.dice %}
        <button class="button image-container dice dice-border-black" id="DICE-{{dice.order}}"></button>
        {% endfor %}
    </div>
    <div class="form" id="form">
        <div class="column">
            <button class="button button-form button-info image-container bg-lightpink"
                style="background-image: url(../static/images/misc/info.png);"></button>
            {% for i in range(6) %}
            <button class="button button-form image-container bg-skyblue"
                style="background-image: url(../static/images/dice/{{i+1}}.png);"></button>
            {% endfor %}
            <button class="button button-form bg-skyblue">(1-6)</button>
            <button class="button button-form bg-skyblue">MAX</button>
            <button class="button button-form bg-skyblue">MIN</button>
            <button class="button button-form bg-skyblue">∆ x 1's</button>
            <button class="button button-form bg-skyblue">TRIS</button>
            <button class="button button-form bg-skyblue">SKALA</button>
            <button class="button button-form bg-skyblue">FULL</button>
            <button class="button button-form bg-skyblue">POKER</button>
            <button class="button button-form bg-skyblue">JAMB</button>
            <button class="button button-form bg-skyblue">(tris - jamb)</button>
        </div>
        {% for column in jamb.form.columns %}
        <div class="column" id={{column.label}}>
            {% if column.label == "DOWNWARDS" %}
            <button class="button button-form image-container"
                style="background-image: url(../static/images/column/DOWNWARDS.png);"></button>
            {% endif %}
            {% if column.label == "UPWARDS" %}
            <button class="button button-form image-container"
                style="background-image: url(../static/images/column/UPWARDS.png);"></button>
            {% endif %}
            {% if column.label == "ANY_DIRECTION" %}
            <button class="button button-form image-container"
                style="background-image: url(../static/images/column/ANY_DIRECTION.png);"></button>
            {% endif %}
            {% if column.label == "ANNOUNCEMENT" %}
            <button class="button button-form image-container"
                style="background-image: url(../static/images/column/ANNOUNCEMENT.png);"></button>
            {% endif %}
            {% for box in column.boxes %}
            {% if box.label == "MAX" %}
            <button class="button button-form bg-skyblue"></button>
            {% endif %}
            {% if box.label == "TRIPS" %}
            <button class="button button-form bg-skyblue"></button>
            {% endif %}
            <button class="button button-form box" id="BOX-{{column.order}}-{{box.order}}">
                {% if box.filled %}
                {{box.value}}
                {% endif %}
            </button>
            {% endfor %}
            <button class="button button-form bg-skyblue"></button>
        </div>
        {% endfor %}
        <div class="column">
            <button class="button button-form button-roll-dice image-container bg-lightpink" id="ROLL-DICE-BUTTON"></button>
            <button class="button button-form bg-skyblue"></button>
            <button class="button button-form button-restart image-container bg-lightpink" id="RESTART-BUTTON"
                style="background-image: url(../static/images/misc/restart.png);"></button>
            <button class="button button-form bg-skyblue"></button>
            <button class="button button-form button-scoreboard bg-lightpink"></button>
            <div class="button button-form bg-skyblue"></div>
        </div>
        <div class="row">
            <button class="button button-form image-container bg-lightpink"
                style="background-image: url(../static/images/misc/cog.png);"></button></button>
            <button class="button button-form">UKUPNO:</button>
            <div class="button button-form bg-skyblue"></div>
        </div>
    </div>
</div>
{% endblock %}